body {
	background: #353433;
	color: #e9e8e7;
	font: 15px Verdana, sans-serif;
}
html {
	overflow-y: scroll;
}

.template {
	display: none;
}

h1 {
	font: bold 32px/32px Helvetica, Free Sans, FreeSans, Arial, sans-serif;
	color: #8b8685;
	margin: 64px 0 0; padding: 0;
}

#main {
	margin: 0 auto;
	width: 612px;
}
#main-wrapper {
	margin: 0 160px;
}
.picture {
	position: relative;
	margin-bottom: 16px;
}
.left {
	position: absolute;
	top: 0px; left: -192px; width: 192px;
	margin-left: -16px;
	text-align: right;
}
.middle {
	position: absolute;
	top: 0; left: 0;
	z-index: 2;
}
.right {
	position: relative;
	margin-left: 322px;
	padding-top: 0;
	padding-bottom: 0;
}
.picture .image {
	background: #090807;
	position: relative;
	cursor: pointer;
}
.image img {
	position: absolute;
	top: 0; left: 0;
}
.image img {
	width: 100%;
	height: 100%;
}
.left .user, .comment .user {
	font-weight: bold;
}
.comment.comment-mention {
	color: #ffcccc;
}
.comment.comment-mention .user .username {
	color: #ff9999;
}
.info a:hover,
.left .user a:hover,
.left .when a:hover {
	background: #454443;
	padding: 3px;
	margin: -3px;
}
.info a:focus,
.left .user a:focus,
.left .when a:focus,
.info a:active,
.left .user a:active,
.left .when a:active {
	outline: 2px solid #555453;
}
.when {
	color: #8b8685;
	font-size: 0.8em; margin-right: 32px;
}
.when a {
	color: #8b8685;
}
.profile-picture, .profile-picture img {
	width: 24px;
	height: 24px;
}
.profile-picture {
	background: #000;
	border: 1px solid #666666;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}
.image {
	width: 306px; height: 306px;
}
.picture.zoomed .image {
	width: 612px; height: 612px;
}
/*
 * HW ACCEL DIDNT WORK OUT
.image {
	width: 612px; height: 612px;
	-moz-transform: scale(0.5);
	-moz-transform-origin: top left;
	-webkit-transform: scale(0.5);
	-webkit-transform-origin: top left;
}
.picture.zoomed .image {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
}
*/
.picture.zoomed .right {
	padding-top: 628px;
	padding-bottom: 16px;
}

.picture {
	min-height: 306px;
}
.picture.zoomed {
	min-height: 612px;
}
.picture {
	-moz-transition: 0.5s min-height;
	-webkit-transition: 0.5s min-height;
}
.image {
	-moz-transition: 0.5s width, 0.5s height;
	-webkit-transition: 0.5s width, 0.5s height;
	/*
	 * HW ACCEL DIDNT WORK OUT
	-moz-transition: 0.5s -moz-transform;
	-webkit-transition: 0.5s -webkit-transform;
	*/
}
.right {
	-moz-transition: 0.5s padding-top, 0.5s padding-bottom;
	-webkit-transition: 0.5s padding-top, 0.5s padding-bottom;
}

.comment, .likes, .geo {
	line-height: 1.5;
	padding-bottom: 0.5ex;
	word-wrap: break-word;
}
img.hide { opacity: 0; }
img.show { opacity: 1; }
img.dim { opacity: 0.6; }
img.hide, img.show, img.dim {
	-moz-transition: 0.5s opacity;
	-webkit-transition: 0.5s opacity;
}
a {
	color: inherit;
	text-decoration: none;
}


.info {
	position: relative;
	min-height: 36px;
}
.info .icon {
	position: absolute;
	z-index: 1;
	top: 4px; left: 0; width: 16px; height: 16px;
	cursor: pointer;
}
.info .icon span {
	position: absolute;
	top: 14px; left: -8px; width: 32px;
	display: block;
	font-size: 10px;
	text-align: center;
	color: #8b8685;
}
.info .icon.icon2 {
	top: 40px;
}
.info .icon.icon2 b {
	display: none;
	white-space: nowrap;
	padding: 3px 5px;
	background: #090807;
	position: absolute;
	line-height: 16px;
	font-size: 11px;
	font-weight: normal;
	top: -2px;
	left: 18px;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}
.info .icon.icon2:hover b {
	display: block;
}
.info-data {
	position: relative;
	padding-left: 24px;
}

.feed {
	position: relative;
	padding-top: 32px;
}
.loading, .load-more {
	text-align: center;
	font-style: italic;
	padding: 10px;
}
.load-more {
	cursor: pointer;
}
.refresh-button, .switch-view-button {
	display: inline-block;
	width: 24px; height: 24px; vertical-align: middle;
	cursor: pointer;
}
.right.dim,
.add-comment.dim {
	opacity: 0.5;
}
.refresh-button.dim,
.icon.dim {
	opacity: 0.3;
}

.feed-header {
	position: absolute;
	top: -32px; right: 0; height: 32px;
	text-align: left;
}
h2 {
	text-align: right;
	font: bold 16px/32px Helvetica, sans-serif;
	margin: 0; padding: 0;
	color: #8b8685;
}
.breadcrumb {
	font: bold 16px/24px Helvetica, sans-serif;
	position: absolute;
	bottom: 32px; left: 0;
}
.breadcrumb-item span { color: #5b5655; cursor: pointer; }
.breadcrumb-item span:hover { color: #7b7675; }
#loading-stuff {
	position: relative;
}

.changeset {
	position: relative;
}



.add-comment {
	position: relative;
}
.add-comment .pointer {
	position: absolute;
	top: 4px; left: 0;
	width: 12; height: 12;
	z-index: 1;
}
.add-comment .input {
	position: relative;
	margin-left: 10px;
	border: 1px solid #454443;
	background: #090807;
	padding: 2px 3px;
}
.add-comment textarea {
	margin: 0; padding: 0; border: 0;
	background: #090807;
	color: #e9e8e7;
	resize: none;
	font: 15px Verdana, Tahoma, sans-serif;
	width: 100%;
	height: 3em;
}
.add-comment .user {
	font-weight: bold;
}

[data-username] {
	cursor: pointer;
}

.user-info {
	padding-bottom: 16px;
	position: relative;
	min-height: 150px;
}
.user-info .user-picture,
.user-info .infobox {
	position: absolute;
	top: 0; width: 150px; height: 150px;
}
.user-info .user-picture { left: 0; }
.user-info .infobox { left: 154px; }
.infobox-box { background: #090807; position: absolute; width: 73px; height: 73px; }
.infobox-following { bottom: 0; left: 0; }
.infobox-followers { bottom: 0; right: 0; }
.infobox-photos { top: 0; left: 0; width: 150px; }
.biobox {
	background: #454443;
	min-height: 150px;
	margin-left: 308px;
}
.biobox-contents { padding: 6px; }
.user-name .real-name { font: 18px Helvetica Neue, Helvetica; display: block; }

.username, a.username {
	color: #bef;
}
a img { border: 0; }

.grid-item .grid-box {
	height: 154px;
	margin-top: -154px;
	position: relative;
}
.grid-item .thumbnail {
	position: absolute;
	z-index: 1;
	top: 0; left: 0;
	width: 150px; height: 150px;
}
.grid-item[data-column="0"] .grid-box { margin-top: 0; }
.grid-item.new-mark[data-column] .grid-box { margin-top: 0; }
.grid-item.marker[data-column] .grid-box {
	-moz-transition: 1s margin-top;
	-webkit-transition: 1s margin-top; }
.grid-item[data-column="1"] .thumbnail { margin-top: 0; left: 154px; }
.grid-item[data-column="2"] .thumbnail { margin-top: 0; left: 308px; }
.grid-item[data-column="3"] .thumbnail { margin-top: 0; left: 462px; }
.grid-item .thumbnail {
	cursor: pointer;
	background: #090807;
}
.grid-item .large-media-container { overflow: hidden; margin-left: -192px; padding-left: 192px; }
.grid-item .large-media { padding-bottom: 158px; padding-top: 12px; }
.grid-item[data-column="3"] .large-media { padding-bottom: 4px; }
.grid-item.active .thumbnail img {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
}
.grid-item.active .thumbnail {
	opacity: 0.5;
}
.hidden-view {
	display: none;
}
